<!DOCTYPE html>
<html lang="en">
<head>
    {% block head%}{% endblock head%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title> The URL Shortener | {% block title %}{% endblock title %}</title>
</head>
<body>
    <h1>Enter a url into the form and it will shorten it for you</h1>

    {% block content %}
    {% endblock content %}
    <footer>
    </footer>
</body>
</html>